Repository SimoHb7/docqa-ms: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Backend, Test Frontend

Jenkinsfile:

pipeline {
    agent any

    stages {
        stage('Checkout Code') {
            steps {
                echo 'ğŸ“¥ Checking out code from GitHub...'
                checkout scm
            }
        }

        stage('Test Backend') {
            when {
                changeset 'backend/**'
            }
            steps {
                echo 'ğŸ§ª Testing backend services...'
                script {
                    // Test each backend service
                    def services = ['api_gateway', 'doc_ingestor', 'deid', 'indexer_semantique', 'llm_qa', 'synthese_comparative', 'audit_logger', 'ml_service']

                    for (service in services) {
                        if (fileExists("backend/${service}")) {
                            echo "Testing ${service}..."
                            dir("backend/${service}") {
                                // Install dependencies and run basic tests
                                sh '''
                                    python3 -m venv venv
                                    source venv/bin/activate
                                    pip install -r requirements.txt
                                    python -c "import sys; print('âœ… Python import works')"
                                    deactivate
                                '''
                            }
                        }
                    }
                }
            }
        }

        stage('Test Frontend') {
            when {
                changeset 'InterfaceClinique/**'
            }
            steps {
                echo 'ğŸ§ª Testing frontend...'
                dir('InterfaceClinique') {
                    sh '''
                        npm install
                        npm run build
                        echo 'âœ… Frontend build successful'
                    '''
                }
            }
        }

        stage('Build Docker Images') {
            steps {
                echo 'ğŸ³ Building Docker images...'
                script {
                    def services = ['api_gateway', 'doc_ingestor', 'deid', 'indexer_semantique', 'llm_qa', 'synthese_comparative', 'audit_logger', 'ml_service']

                    for (service in services) {
                        if (fileExists("backend/${service}")) {
                            sh "docker build -t docqa-${service}:latest backend/${service}"
                        }
                    }

                    // Build frontend
                    sh "docker build -t docqa-frontend:latest InterfaceClinique"
                }
            }
        }

        stage('Deploy to Test Environment') {
            when {
                branch 'main'
            }
            steps {
                echo 'ğŸš€ Deploying to test environment...'
                sh '''
                    echo 'âœ… Build and test completed successfully!'
                    echo 'ğŸ“¦ Docker images built and ready for deployment'
                '''
            }
        }
    }

    post {
        success {
            echo 'âœ… Pipeline completed successfully!'
        }
        failure {
            echo 'âŒ Pipeline failed!'
        }
    }
}

2- ml/dl not full trained & test CI/CD
  .env.jenkins.example
Due: none

3- ml/dl not full trained & test CI/CD
  InterfaceClinique/src/pages/Dashboard.tsx
  Jenkinsfile
Due: Test Frontend

4- ml/dl not full trained & test CI/CD
  Jenkinsfile
Due: none

fix: login page & auth0 connect with google
  InterfaceClinique/AUTH0_CALLBACK_FIX.md
  InterfaceClinique/index.html
  InterfaceClinique/public/favicon.svg
  InterfaceClinique/src/components/layout/Header.tsx
  InterfaceClinique/src/components/layout/ModernSidebar.tsx
  InterfaceClinique/src/components/layout/Sidebar.tsx
  InterfaceClinique/src/components/ui/Auth0SetupGuide.tsx
  InterfaceClinique/src/main.tsx
  InterfaceClinique/src/pages/Dashboard.tsx
  InterfaceClinique/src/pages/Login.tsx
  InterfaceClinique/src/pages/Settings.tsx
  InterfaceClinique/vite.config.ts
Due: Test Frontend

fix: issues
  InterfaceClinique/MUI_GRID_V2_MIGRATION.md
  InterfaceClinique/PERFORMANCE_OPTIMIZATION.md
  InterfaceClinique/SECURITY_FIX_USER_ISOLATION.md
  InterfaceClinique/index.html
  InterfaceClinique/src/App.tsx
  InterfaceClinique/src/components/charts/LazyCharts.tsx
  InterfaceClinique/src/hooks/useLogoutHandler.ts
  InterfaceClinique/src/pages/Documents.tsx
  InterfaceClinique/src/pages/Login.tsx
  InterfaceClinique/src/pages/MLAnalytics.tsx
  InterfaceClinique/src/pages/ModernDashboard.tsx
  InterfaceClinique/src/pages/ModernDocuments.tsx
  InterfaceClinique/src/pages/ModernSynthesis.tsx
  InterfaceClinique/src/pages/ModernUpload.tsx
  InterfaceClinique/src/pages/ProfessionalDashboard.tsx
  InterfaceClinique/src/pages/Settings.tsx
  InterfaceClinique/src/store/pageStores.ts
  InterfaceClinique/vite.config.ts
  backend/deid/app/custom_recognizers.py
  backend/deid/app/main.py
  backend/doc_ingestor/app/api/v1/endpoints/documents.py
  backend/llm_qa/app/main.py
  backend/synthese_comparative/app/api/v1/endpoints/synthesis.py
  test_deid.json
Due: Test Backend, Test Frontend

feat: Enhanced ML pipeline with improved DeID system
  .gitignore
  InterfaceClinique/src/pages/MLAnalytics.tsx
  InterfaceClinique/src/services/api.ts
  InterfaceClinique/src/types/index.ts
  backend/api_gateway/app/api/v1/endpoints/documents.py
  backend/database/migrations/002_add_document_entities.sql
  backend/deid/app/main.py
  backend/doc_ingestor/app/api/v1/endpoints/documents.py
  backend/ml_service/app/api/endpoints.py
  backend/ml_service/app/core/config.py
  backend/ml_service/app/main.py
  backend/ml_service/app/services/model_manager.py
  backend/ml_service/requirements.txt
  backend/ml_service/saved_models/document_classifier_model/added_tokens.json
  backend/ml_service/saved_models/document_classifier_model/config.json
  backend/ml_service/saved_models/document_classifier_model/sentencepiece.bpe.model
  backend/ml_service/saved_models/document_classifier_model/special_tokens_map.json
  backend/ml_service/saved_models/document_classifier_model/tokenizer_config.json
  backend/ml_service/saved_models/medical_ner_model/config.json
  backend/ml_service/saved_models/medical_ner_model/label_mappings.json
  backend/ml_service/saved_models/medical_ner_model/special_tokens_map.json
  backend/ml_service/saved_models/medical_ner_model/tokenizer.json
  backend/ml_service/saved_models/medical_ner_model/tokenizer_config.json
  backend/ml_service/saved_models/medical_ner_model/training_history.json
  colab_notebooks/01_Document_Classifier_Training.ipynb
  colab_notebooks/01_Document_Classifier_Training_UPDATED.ipynb
  colab_notebooks/02_Medical_NER_Training.ipynb
  colab_notebooks/03_Enhanced_Medical_NER_Training.ipynb
  colab_notebooks/generate_full_dataset.py
  colab_notebooks/training_data.csv
  colab_notebooks/training_data_template.csv
  docker-compose.yml
  docs/SECURITY_DOCUMENTATION.md
  railway.json
  test_deid.json
Due: Test Backend, Test Frontend

chore: Add Git LFS for large model files
  .gitattributes
Due: none

chore: Exclude CSV files from repository
  .gitignore
  colab_notebooks/training_data.csv
  colab_notebooks/training_data_template.csv
Due: none

chore: Exclude large ML models from repository (411MB model.safetensors)
  .gitignore
  backend/ml_service/saved_models/document_classifier_model/added_tokens.json
  backend/ml_service/saved_models/document_classifier_model/config.json
  backend/ml_service/saved_models/document_classifier_model/sentencepiece.bpe.model
  backend/ml_service/saved_models/document_classifier_model/special_tokens_map.json
  backend/ml_service/saved_models/document_classifier_model/tokenizer_config.json
  backend/ml_service/saved_models/medical_ner_model/config.json
  backend/ml_service/saved_models/medical_ner_model/label_mappings.json
  backend/ml_service/saved_models/medical_ner_model/special_tokens_map.json
  backend/ml_service/saved_models/medical_ner_model/tokenizer.json
  backend/ml_service/saved_models/medical_ner_model/tokenizer_config.json
  backend/ml_service/saved_models/medical_ner_model/training_history.json
Due: Test Backend

Fix: CI/CD
  backend/database/migrations/001_add_document_anonymizations.sql
Due: Test Backend

Fix 2: CI/CD
  backend/database/migrations/001_add_document_anonymizations.sql
Due: Test Backend

fix: add app/models to git and exclude only model weights, not model code
  .gitignore
  backend/ml_service/app/models/__init__.py
  backend/ml_service/app/models/document_classifier.py
  backend/ml_service/app/models/medical_ner.py
Due: Test Backend

docs: Add comprehensive README with diagrams and architecture details
  README.md
Due: none

fix: diagrams
  README.md
Due: none

feat: Update Jenkinsfile
  Jenkinsfile
Due: none

feat: Update Jenkinsfile 2
  Jenkinsfile
Due: none

fix: Remove non-existent test-report.xml from frontend SonarQube config
  InterfaceClinique/sonar-project.properties
Due: Test Frontend
